body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4; /* You can change the background color if needed */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    max-width: 100%; /* Responsive: Ensure logo doesn't exceed screen width */
    height: auto;
  }
  