body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4; /* You can change the background color if needed */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    position: absolute;
    z-index: 1000;
    max-width: 20%; /* Responsive: Ensure logo doesn't exceed screen width */
    height: auto;
    align-items: center;
    top: 50%;    /* distance from the top of the nearest positioned ancestor */
    left: 50%;   /* distance from the left of the nearest positioned ancestor */
    transform: translate(-50%, -50%);
  }
  